@media (max-width: 768px) {
    .list-footer-container{
        padding: 0;
        flex-wrap: wrap;
        #logo-footer{
            width: 1000px;
            margin: 30px 0px;
        }

        ul{
            width: 30%;
        }

        #lista-recursos{
            padding: 0;
            margin-top: 20px;
        }

        #lista-empresa{
            margin-top: 20px;
        }
    }

    .nav-footer__izquierda ul {
        flex-wrap: wrap;
    }
  }