.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  color: black;
  a{
    color: black;
  }
}

.footer-block1 {
  width: 88vw;
  display: flex;
  align-items: flex-start;
  padding-bottom: 40px;
  padding-top: 56px;
  justify-content: center;
}

/*LISTA FOOTER*/

.logo-footer {
  width: 60px;
  height: 60px;
  margin-right: 120px;
}

.list-footer {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.list-footer {
  ul {
    margin-left: 80px;
    padding: 0;
    li {
      margin-bottom: 20px;
    }
  }
}

#list-footer__why-slack {
  margin-left: 0px;
}

/*PIE FOOTER*/

.pie-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 3px solid rgb(226, 226, 226);
  padding-top: 40px;
}

/*PIE FOOTER IZQUIERDA*/

.nav-footer__izquierda {
  width: 66vw;
  padding: 0px;
  display: flex;
  ul {
    display: flex;
    padding: 0px;
    li {
      display: flex;
      margin-right: 20px;
      align-items: center;
    }
    img {
      margin-right: 10px;
      height: 15px;
    }
  }
  font-weight: 600;
}

/*PIE FOOTER DERECHA*/

.nav-footer__derecha {
  ul {
    display: flex;
    li {
      display: flex;
      margin-left: 20px;
      align-items: center;
    }
    a {
      margin-left: 10px;
    }
    p {
      margin-left: 13px;
    }
  }
  font-weight: 600;
}

/*FOOTER LEGAL*/

.footer-legal {
  padding-bottom: 40px;
  padding-top: 40px;
}

/*ICONOS FOOTER*/

.privacy-icon {
  width: 14px;
  transform: rotate(47deg);
}

.cambiar-region-icon {
  width: 14px;
}

.download-slack-icon {
  width: 17px;
}

.twitter-icon {
  width: 14px;
}

.facebook-icon {
  width: 14px;
}

.youtube-icon {
  width: 14px;
}

.linkedin-icon {
  width: 14px;
}