.footer {
    position: relative;
}

.footer-block1 {
  width: 80vw;
  display: flex;
  align-items: flex-start;
  padding-bottom:40px;
  padding-top:56px;
  position: absolute;
  left: 10%;
  flex-wrap: nowrap;
}

/*LISTA FOOTER*/

.logo-footer {
  width: 60px;
  height: 60px;
  margin-right: 120px;
}

.list-footer {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.list-footer {
  ul {
    li{
    margin-bottom:20px;
  }
}
}

/*PIE FOOTER*/

.pie-footer {
    display: flex;
 
    left: 23%;
}

.footer-legal{
    padding-bottom: 40px;
   
}

.privacy-icon {
    width: 20px;
    
}

.cambiar-region {
    width: 20px;
}