*{
    margin: 0px;
    top: 0px;
    text-decoration: none;
    list-style: none;
}
.header{
    background-color: #541554;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
        a{
            color: white;
        }
           &-logo{
         width: 400px;
            a{
                font-size: 40px;
            }
            img{
            width: 40px;
            }
        }
        &-nav{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            flex-wrap: nowrap;
        }

}

.main{
    &-video{
        width: 500px;
    }
}