@charset "UTF-8";
* {
  margin: 0px;
  top: 0px;
  text-decoration: none;
  list-style: none;
}

.header {
  background-color: #541554;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: stretch;
}
.header a {
  color: white;
}
.header-logo {
  width: 400px;
}
.header-logo a {
  font-size: 40px;
}
.header-logo img {
  width: 40px;
}
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}
.header-nav > ul > li ul {
  display: none;
  position: relative;
}
.header-nav > ul > li:hover ul {
  display: flex;
  position: absolute;
  background-color: rgb(167, 40, 40);
  top: 300px;
  flex-direction: row;
}

.main-video {
  width: 550px;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: black;
  justify-content: center;
  align-items: center;
}
.footer a {
  color: black;
}

/*LISTA FOOTER*/
.list-footer-container {
  width: 90%;
  display: flex;
  padding: 40px;
}
.list-footer-container #logo-footer {
  width: 140px;
}
.list-footer-container ul {
  width: 16.6%;
}
.list-footer-container ul h4 {
  font-size: 13px;
}
.list-footer-container ul li {
  max-width: 100%;
  margin-bottom: 20px;
  font-size: 13px;
}

.logo-footer {
  height: 60px;
}

#list-footer__why-slack {
  padding-left: 0px;
}

/*PIE FOOTER*/
.pie-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 3px solid rgb(226, 226, 226);
  padding-top: 40px;
  width: 90%;
  flex-wrap: wrap;
}

/*PIE FOOTER IZQUIERDA*/
.nav-footer__izquierda {
  width: 100%;
  padding: 0px;
  display: flex;
  font-weight: 600;
}
.nav-footer__izquierda ul {
  display: flex;
  padding: 0px;
}
.nav-footer__izquierda ul li {
  display: flex;
  margin-right: 20px;
  align-items: center;
  font-size: 13px;
  padding: 25px 0px;
}
.nav-footer__izquierda ul img {
  margin-right: 10px;
  height: 15px;
}

/*PIE FOOTER DERECHA*/
.nav-footer__derecha {
  margin-top: 30px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  font-weight: 600;
}
.nav-footer__derecha ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
}
.nav-footer__derecha ul li {
  display: flex;
  margin-left: 0px;
  align-items: center;
  font-size: 12px;
}
.nav-footer__derecha ul a {
  margin-left: 0px;
  align-items: baseline;
}
.nav-footer__derecha ul p {
  margin-left: 13px;
}

.nav-footer__derecha__iconos {
  width: 100%;
  margin-top: 30px;
}
.nav-footer__derecha__iconos ul {
  display: flex;
  padding: 0;
}
.nav-footer__derecha__iconos ul li {
  display: flex;
  margin-right: 15px;
}

/*FOOTER LEGAL*/
.footer-legal {
  width: 90%;
  padding-bottom: 40px;
  padding-top: 40px;
  font-size: 12px;
  justify-content: flex-start;
}

/*ICONOS FOOTER*/
.privacy-icon {
  width: 14px;
  transform: rotate(47deg);
}

.cambiar-region-icon {
  width: 14px;
}

.download-slack-icon {
  width: 17px;
  margin: 0;
  padding: 0;
}

.twitter-icon {
  width: 14px;
}

.facebook-icon {
  width: 14px;
}

.youtube-icon {
  width: 14px;
}

.linkedin-icon {
  width: 14px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}
.main-firstCage {
  color: white;
  background-color: #541554;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-evenly;
}
.main-specialSection {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 48px;
  padding-left: 0px;
  padding-right: 0px;
}
.main-specialSection-imagen {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.main-specialSection-imagen img {
  padding: 0px;
}
.main-specialSection-imagen-airbnb {
  width: 113px;
}
.main-specialSection-imagen-nasa {
  width: 67px;
}
.main-specialSection-imagen-uber {
  width: 75px;
}
.main-specialSection-imagen-target {
  width: 48px;
}
.main-specialSection-imagen-NY {
  width: 230px;
}
.main-specialSection-imagen-etsy {
  width: 74px;
}
.main-section3 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
}
.main-section3-botones {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
.main-section3-porcien {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  width: 38%;
  margin-left: 50%;
  margin-right: 50%;
  align-items: center;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1024px;
}

.section1 {
  background-color: #541554;
}

.textBox {
  display: flex;
  margin: 2rem;
  box-sizing: inherit;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.prueba {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Media query para ajustar el diseño en pantallas más estrechas */
@media (max-width: 1024px) {
  .prueba {
    grid-template-columns: 1fr; /* Cambia a una sola columna */
  }
  .textBox {
    display: flex;
    margin: 2rem;
    box-sizing: inherit;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 500px;
  }
}
.section-churro-morado {
  background: #4a154b;
  border: none;
  -webkit-clip-path: ellipse(95% 100% at center top);
          clip-path: ellipse(95% 100% at center top);
  height: auto;
  min-height: 370px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.titulo-churro-morado {
  display: flex;
  color: white;
  font-size: 34px;
}

.botones-churro-morado {
  display: flex;
}

.boton-churro-morado__izquierda {
  display: flex;
  background-color: white;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  height: 50px;
  width: 220px;
  align-items: center;
  justify-content: center;
  margin: 20px 3px;
  font-size: 15px;
}

.boton-churro-morado__derecha {
  display: flex;
  background-color: #4a154b;
  border: 2px solid rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  height: 50px;
  width: 370px;
  align-items: center;
  justify-content: center;
  margin: 20px 3px;
  color: white;
  font-size: 15px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.titulo-etiquetas {
  text-align: center;
}

.bloque-etiquetas {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 60px;
  background-color: #f4ede4;
}

.titulo-etiquetas {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 25px;
  font-size: 25px;
}

.etiquetas-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.etiqueta {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: white;
  padding: 13px;
  margin: 10px;
}
.etiqueta p {
  font-size: 13px;
  margin-bottom: 10px;
}
.etiqueta h2 {
  max-height: 120px;
  margin-bottom: 20px;
  font-size: 23px;
}
.etiqueta div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.etiqueta div h4 {
  width: 90%;
  color: #2856aa;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
.etiqueta div .imagen-arrow {
  width: 25px;
  height: 25px;
  rotate: -90deg;
}

.etiqueta-imagen {
  width: 100%;
  height: 160px;
  margin-bottom: 10px;
}

.etiqueta:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 0px 0px 10px 0px rgb(148, 148, 148);
}

a {
  color: black;
  text-decoration: none;
}

@media (max-width: 768px) {
  .etiquetas-container {
    flex-wrap: wrap;
  }
  .etiqueta {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .section-churro-morado {
    text-align: center;
  }
  .titulo-churro-morado {
    margin: 70px 40px 30px 40px;
  }
  .botones-churro-morado {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .boton-churro-morado__izquierda {
    width: 100%;
    margin: 5px 40px;
  }
  .boton-churro-morado__derecha {
    width: 100%;
    margin: 5px 40px;
    margin-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .list-footer-container {
    padding: 0;
    flex-wrap: wrap;
  }
  .list-footer-container #logo-footer {
    width: 1000px;
    margin: 30px 0px;
  }
  .list-footer-container ul {
    width: 30%;
  }
  .list-footer-container #lista-recursos {
    padding: 0;
    margin-top: 20px;
  }
  .list-footer-container #lista-empresa {
    margin-top: 20px;
  }
  .nav-footer__izquierda ul {
    flex-wrap: wrap;
  }
}
* {
  margin: 0px;
  top: 0px;
  text-decoration: none;
  list-style: none;
}

.header {
  background-color: #541554;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: stretch;
}
.header a {
  color: white;
}
.header-logo {
  width: 400px;
}
.header-logo a {
  font-size: 40px;
}
.header-logo img {
  width: 40px;
}
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}
.header-nav > ul > li ul {
  display: none;
  position: relative;
}
.header-nav > ul > li:hover ul {
  display: flex;
  position: absolute;
  background-color: rgb(167, 40, 40);
  top: 300px;
  flex-direction: row;
}

.main-video {
  width: 550px;
}/*# sourceMappingURL=index_styles.css.map */